*, *:before, *:after {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;    
    font-size:0.9em;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
input {
    font-family: Arial, Helvetica, sans-serif;    
}
h1{
    font-size: 1.2em;
}
#maincontainer{
    /*
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    */
    height: 100%;
}
#navigation{   
    width:100%;
    top:0;
    border-bottom:1px solid #034abc;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}
#navigation_links a{
    color: #fff;
    margin-right: 5px;
    margin-top:3px;
    margin-bottom:3px;
    margin-left:3px;
    text-decoration: none;
    padding-left:5px;
    padding-right: 5px;
    display: inline-block;
}
#navigation_links a:hover{
    color: #ffff44;
}
#navigation_links{
    padding:5px 5px 5px 5px;
    background-color: #444;
}
#navigation_userandkeyinfo{
    border:1px solid #ccc;
    background-color: #f4f4f4;
    display: inline-block;
    width:100%;
    padding:5px 5px 5px 5px;
}
#navigation_userandkeyinfo div{
}
#contents{
    /* flex:1; */
    height: 70%;
    min-height: 50%;
    padding:10px 10px 10px 10px;
}
#progressupdatediv{
    overflow: auto;
    font-size: 0.8em;    
    background-color: #fff;
    width:100%;
    height: 100%;
}
#progressupdatediv div{
    display: block;
}
#progressupdatediv_table td{
    text-align: left;
    vertical-align: top;
}
#progressupdatediv_table tr:hover{
    background-color: #eee;
}
/* shown initially on page load */
#loginbuttonsdiv{
    padding:10px 10px 10px 10px;
}
#generatekeydiv{
}
#importcontactkeydiv{
}
#composediv{
}
#inboxdiv{    
}
#inboxmessagelistdiv{
}
#inboxfilterdiv{
    border-bottom: 1px solid #999;
    margin-bottom: 5px;
}
#inboxfilterdiv label{
    display: block;
}
#inboxfilterdiv input[type=text]{
    width:50%;    
}
#inboxfilterform_shortcutsdiv{
    padding-top: 4px;
    padding-bottom: 4px;
}
#inboxfilterform_shortcutsdiv button{
    font-size: smaller;
    margin-right: 5px;
}
.inbox-mail{
    margin-bottom: 5px;
    border-bottom: 1px solid #999;
    cursor: pointer;
}
.inbox-mail b, .email-headers b{
    display: inline-block;        
    width: 70px;
    font-weight: normal;
    color: #02051c;
}
.inbox-mail:hover{
    background-color: #f4f4f4;
}
.ui-card-div{
    transition-duration: 1s;
    transition-property: all;  
    width: 100%;
    height: 100%;
}
#addnewcontactkeyfileinput_warn{
    
}

.htmlsnippet{
    display:none;
}

/* things that will be included in emails in clear text */
.cleartextfield{
    border:1px solid #f2c6c6;
}
/* things that will NOT be included in emails in clear text */
.encryptedfield{
    border:1px solid #04d130;
}
.email-insecure-part{
    color:#910f1c;
}

.email-secure-part{
    color:#217c08;
}
.error{
    color:red;
}
.warn{
    color:#990099;
}
.info{
    color:#000;
}
.debug{
    color:#888;
}


.email-subject{
    clear:both;
    font-size:1.1em;
    font-weight: bold;
}
.reademail-contents-div  .email-subject{
    font-size:1.25em;
    padding-top:5px;
    padding-bottom:5px;
    border-bottom:#3d0e70;
    width:100%;
    text-align: left;
    color:#150ece;
}
#reademailbodydiv{
    border-top:4px solid #fff;
    border-bottom:2px solid #fff;
}

.email-from{    
    margin-right: 5px;
}
.email-to{    
    margin-right: 5px;
}
.email-cc{
    margin-right: 5px;    
}
.email-date{
}
.email-snippet{
    clear:both;
}
.email-labels{
    text-transform: lowercase;
}
.email-labels b{
    text-transform: capitalize;
}

.email-labels .UNREAD{
    /*
    background-color: green;
    color: #fff;
    */
    color: green;
    padding:1px 1px 1px 1px;
    font-size: smaller;
}
.email-labels .STARRED{
    /*
    color:#fff;
    background-color: darkorange;
    */
    color: darkorange;
    padding:1px 1px 1px 1px;
    font-size: smaller;
}
.email-labels .INBOX{
    /*
    color:#fff;
    background-color: darkviolet;    */
    color: darkviolet;
    padding:1px 1px 1px 1px;
    font-size: smaller;
}

.email-labels .DRAFT{
    /*
    color:#fff;
    background-color: mediumblue;    
    */
    color: mediumblue;    
    padding:1px 1px 1px 1px;
    font-size: smaller;
}

.email-labels .SENT{
    /*color:#fff;
    background-color: slategrey;    */
    color: slategrey;    
    padding:1px 1px 1px 1px;
    font-size: smaller;
}
/** 
an individual label 
*/
.email-label{
    margin-right: 5px;
}

#reademaildiv{    
    padding:5px 5px 5px 5px;
    min-height: 50%;
}
#reademailcleartextdiv{
    min-height: 100px;
    white-space: pre-wrap;
    padding:2px 2px 2px 2px;
}
#reademailsecuremsgdiv{
    min-height: 100px;
    white-space: pre-wrap;    
    padding:2px 2px 2px 2px;
}

/* email details container */
.reademail-contents-div{
    
}

.reademail-contents-div h3{
    font-size: 1.0em; 
    width: 100%;
    text-align: left;
    margin-top:5px;
    margin-bottom:5px;
    color:#262328;
    padding-top:3px;
    padding-bottom: 3px;
    padding-left: 3px;
    background-color:#f4f4f4;
    border:1px solid #ddd;
}

.email-headers{    
    padding:0px 0px 0px 0px;
}

.email-body{
    padding:0px 0px 0px 0px;
}
.email-attachments{
    border:1px solid red;
}

.error-msg{
    color:red;
}

.informative-msg{
    text-align: justify;    
    line-height: 1.45em;
    border: 1px solid #eee;
    background-color: #fafafc;
    padding:10px 10px 10px 10px;
    font-size: 0.95em;

}

fieldset{
    border:none;
}
fieldset > label{
    width:100px;
}

input [type=submit]{
    text-align: center;
}

.form-header{
    font-size:1.1em;
    font-weight: bold;    
}
.form-buttons{
    text-align: center;
    border-top:1px solid #ddd;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
    border-top:2px solid #888;
}

.form-buttons input{
    margin-right: 5px;
}

.form-row{
    
}
.form-row-label{
    width:120px;
}
.form-row-value{
}
.input-sidenote{
    font-size: small;
    color:#999;
}

#addnewcontactkeydiv{
    border:1px solid #ccc;
    margin:5px 5px 5px 5px;
    padding:5px 5px 5px 5px;
}

#composeemail_cleartextmsg_txt{
    width:90%;
    height:90%;
    min-height: 5em;
}

#composeemail_securemsg_txt{
    width:90%;
    height:90%;
    min-height: 10em;    
}

#composeemail_subject_txt{
    width:90%;    
}
#composeemail_otherrecipients_input{
    width:90%;    
}
#composeemailform{
    
}
#composeemailform label{
    margin-top:5px;
    font-weight: bold;
    color:#445;
}

#composeemailform_recipientsdiv{
    max-height: 200px;
    overflow: auto;
    margin-top:2px;
    margin-bottom: 5px;
    padding-top:3px;
    padding-bottom:3px;
    border-top:1px solid #f4f4f4;
    width:100%;
}
#composeemailform_recipientsdiv div{
    float:left;
}
#composeemailform_added_recipientsdiv div{
    float:left;
    border:1px solid #fff;
}
#composeemailform_added_recipientsdiv div:hover{
    background-color: #f4f4f4;
    border:1px solid #ddd;
}
#composeemailform_added_recipientsdiv{
    margin-top:2px;
    margin-bottom: 5px;
    padding-top:3px;
    padding-bottom:3px;
    border-top:1px solid #f4f4f4;
    width:100%;    
}
#composeemailform_added_recipientsdiv button{
    border:1px solid #ccc; 
    padding:1px 1px 1px 1px;
    font-size: smaller;    
    vertical-align: top;
}
#composeemailform_added_recipientsdiv button:hover{
    color:red;
}
#composeemailform_recipientsdiv_table button{
    border:1px solid #ccc; 
    padding:1px 1px 1px 1px;
}
#composeemailform_recipientsdiv_table button:enabled:hover{
    color:blue;
}

#composeemailform .form-row{
    margin-top:5px;
}
#composeemail_attachmentsdiv{
    margin-top:5px;
    padding-top:5px;
    margin-bottom:5px;
}
#currentloadedkeyinfodiv{
    font-size: smaller;
    padding-top:5px;
    padding-bottom:5px;
}

.signature-valid{
    background-color: #0f8904;
    color:white;
    font-weight: bold;
    text-align: center;
    font-size:1.1em;
    padding:5px 5px 5px 5px;
}

.signature-invalid{
    background-color: #c60101;
    color:white;
    font-weight: bold;
    text-align: center;
    font-size:1.1em;
    padding:5px 5px 5px 5px;
}
.signature-unknown{
    background-color: #999;
    color:white;
    font-weight: bold;
    text-align: center;
    font-size:1.1em;
    padding:5px 5px 5px 5px;
}
#fullscreenalertdiv{
    width:100%;
    height: 100%;
    z-index: 99;   
    text-align: center;
    vertical-align: middle;
    overflow-x: hidden;
        position: fixed;
    top:0;
    left: 0;
    transition: 0.5s;
    background-color: #fff;    
}

#fullscreenalertdiv_msgbox{
    position: relative;
    background-color: #fff;
    top: 25%;
    min-height: 40%;
    width: 100%;
    margin-top: 30px;
}

#fullscreenalertdiv_buttons{
    /*
    position: fixed;
    width: 100%;
    */
    margin-top:20px;
}
#keysecretsform_password{
    width:90%;
}
#myexistingcontactsdiv{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top:5px;
    padding-bottom:5px;
}

.myexistingkeypairs_keysradio_div{
    margin-bottom: 4px;
    border: 1px solid #ccc;
    width:100%;
    background-color: #f4f4f4;
    padding-left: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
}
.myexistingkeypairs_keysradio_div:hover{
    color:blue; 
    background-color: #f0f0f0;
}
.myexistingkeypairs_keysradio_div label{
    width:100%;
}
.tip-box{
    font-size: smaller;
    margin-top:5px;
}

#progressupdatediv_textarea{
    width:100%;
    height: 80%;
    min-height: 400px;
}

.sha256hash{
    padding-bottom:2px;
    padding-top:2px;
    padding-left:2px;
    padding-right:2px;
}

.sha256hash span{
    margin-left:2px;
    padding-bottom:2px;
    padding-top:2px;
    padding-left:2px;
    padding-right:2px;
}

.sha256hash span:hover{
    color:#fff;
    background-color:#000;
}

#createnewkeypairform_saveresultdiv{
    line-height: 1.5em;
    color:blue;
}
/*
input[type="radio"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;   
  -ms-appearance: checkbox;    
  appearance: checkbox;     

}
*/

#btnlogingoogle{
    background-color: #fff;
    border:0;
    padding: 0px 0px 0px 0px;
    cursor:pointer;
    margin:  0px 0px 0px 0px;
}

/* container for a file in #files*/
.file-item-div{
    width: 100%;
    padding:5px 5px 5px 5px;
    border:1px solid #ddd;
    clear: both;
    cursor: pointer;
}
.file-item-div:hover{
    background-color: #f4f4f4;
}
.file-name{
    font-weight: bold;
    width:100%;
}
.file-properties{
    
}
.file-property{
    color:#999;
    font-size: smaller;
    display: inline-block;
    margin-right: 5px;
}

.file-property .label{
    font-weight: bold;
}
#filesfilterinput{
    min-width:50%;
}
#edittextfileform_filename{
    width:98%;
    margin-bottom:5px;
}
#edittextfileform_textareadiv{
    width: 98%;
    height: 50%;
}
#edittextfileform_filecontents{
    width:100%;
    height:100%;
}
#edittextfileform_fileinput{
    
}

#edittextfilediv{
    
}
#edittextfilediv label, #editbinaryfilediv label{
    font-weight: bold;
    color:#445;
}

#viewbinaryfilediv_downloadlinkdiv{
    margin-top:10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    line-height: 1.7em;
}

#files_addnewfilelinksdiv{
    margin-top:5px;
    margin-bottom:5px;
}

#fileslistdiv{
    margin-top:6px;
}
#editbinaryfileform_buttonsdiv{
    margin-top:5px;
}